body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f7d794;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #778beb;
}

header a, nav a {
    margin: 0 20px;
}

.navbar-header, .navbar-footer {
    display: inline-block;
    border-radius: 5px;
}

#icon-carrito{
    display: inline-block;
}

#greeting, .cargaProductos {
    padding-top: 20px;
    font-style: italic;
    color:#546de5;
}

#greeting, main {
    width: 80%;
    margin: auto;
}

button {
    border-radius: 5px;
    margin: 0px 5px;
    vertical-align: middle;
}
button:hover {
    background-color: #303952;
    color: #FFFFFF;
    cursor: pointer;
}
button {
    height: 35px;
}

.producto{
    display: inline-block;
    background-color: #778beb;
    padding: 10px 50px;
    border: solid 2px #596275;
    box-shadow: #303952 4px 8px;
    color: #FFFFFF;
    border-radius: 5px;
    margin: 0px 50px 50px 50px;
}
#botones{
    margin-bottom: 20px;
}

img {
    border: solid 2px #596275;
    box-shadow: #303952 2px 4px;
}

main {
    height: 30vh;
    margin: 50px auto;
    background-color: #63cdda;
    border-radius: 5px
}

footer {
    background-color: #f8a5c2;
}
footer p, nav, h1 {
    display: inline-block;
}