body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f7d794;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #778beb;
}


header a, nav a {
    margin: 0 30px;    
    padding: 10px;
}

header a:hover, nav a:hover {
    background-color: #63cdda;
    color: #000000;
}

.navbar-header a.active {
    background-color: #63cdda;
    color: #000000;
    border-radius: 5px;
}

.btn-verMas, .btn-proceder-compra, .btn-agregar-carrito {
    color: #3A3A3A;
    background-color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
.btn-count {
    color: #3A3A3A;
    background-color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin: 5px;
}
.btn-verMas:hover, .btn-proceder-compra:hover, .btn-count:hover, .btn-agregar-carrito:hover {
    color: #FFFFFF;
    background-color: #3A3A3A;
}

.navbar-header, .navbar-footer {
    display: inline-block;
    border-radius: 5px;
}

#icon-carrito{
    display: inline-block;
}

#greeting, .cargaProductos h2 {
    padding-top: 20px;
    font-style: italic;
    color:#546de5;
}

#greeting, main {
    width: 80%;
    margin: auto;
}

#div-productos {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;

}

.producto{
    display: inline-block;
    background-color: #778beb;
    padding: 10px 50px;
    border: solid 2px #596275;
    box-shadow: #303952 4px 8px;
    color: #FFFFFF;
    border-radius: 5px;
    margin: 30px auto;
}
#botones{
    margin-bottom: 20px;
}

img {
    border: solid 2px #596275;
    box-shadow: #303952 2px 4px;
}

.itemDetail {
    background-color: #546de5;
    padding: 50px;
}

.producto-carrito {
    text-align: start;
    border: 1px solid #3A3A3A
}

main {
    margin: 50px auto;
    background-color: #63cdda;
    border-radius: 5px
}

footer {
    background-color: #f8a5c2;
}
footer p, nav, h1 {
    display: inline-block;
}